<div class="body">
    <ngx-spinner></ngx-spinner>
    <form [formGroup]="loginForm" (submit)="onSubmit(loginForm.value)">
        <div class='login'>
            <div class='login_title'>
                <span>Login to your account</span>
            </div>
            <div class='login_fields'>
                <div class='login_fields__user'>
                    <div class='icon'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
                    </div>
                    <input placeholder='Username' type='text' formControlName="userName" />
                </div>
                <div class='login_fields__password'>
                    <div class='icon'>
                        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png'>
                    </div>
                    <input placeholder='Password' type='password' formControlName="passWord" />
                </div>
                <div class='login_fields__submit'>
                    <input type='submit' value='Log In' />
                    <div class='forgot'>
                        <a href='#'>Forgotten password?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>